// Background
$backgroundGradient: linear-gradient(45deg, #3695d8, #922eb0, #e3279a, #922eb0, #3695d8, #3695d8);
$violet: #922eb0;
$lightViolet: #b152ce;
$blue: #3695d8;
$lightBlue: #58b1f0;
$grey: #787878;
$darkGrey: #666;
// ================

// Typography
$titleSize: 3em;
$subtitleSize: 2em;
$textSize: 1.2em;
$lineHeight: 1.44em;
// ================

$borderRadius: 4px;
